#root {
  max-width: 1280px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tg-theme-bg-color);
    width: 100%;
    height: 100vh;
}

